html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
  border: 5px solid red;
  color: #90ccc6;
}

/* Defining Brand Colors */
:root {
  --primary-color: #90ccc6; 
  --secondary-color: #47a447; 
  --accent-color: #ff6c60; 
}

/* Using Brand Colors */
body {
  background-color: var(--primary-color);
  color: #fff; /* Text color on the primary background */
}

.header {
  background-color: var(--secondary-color);
  color: #fff68f; /* Text color on the secondary background */
  padding: 10px;
}

.button {
  background-color: var(--accent-color);
  color: #aedff7; /* Text color on the accent background */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Title */
h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 2.5rem; 
  color: var(--primary-color);
  margin-bottom: 20px; 
}

/* Subtitle */
h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 1.8rem; 
  color: var(--secondary-color);
  margin-top: 20px; 
}

/* Body Text */
p {
  font-family: 'Satisfy', cursive; 
  font-size: 1rem; 
  color: #333; 
  line-height: 1.4; 
}
